@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html,
body {
	font-family:
		'Poppins',
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI,
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		Fira Sans,
		Droid Sans,
		Helvetica Neue,
		sans-serif !important;
}

.loading {
	width: 13.4px;
	height: 13.4px;
	background: #ff3030;
	color: #ff3030;
	border-radius: 50%;
	box-shadow: 13.4px 0,-26.9px 0;
	animation: dots-h5boszmd 0.5s infinite linear alternate;
  }
  @keyframes dots-h5boszmd {
	50% {
	   box-shadow: 13.4px 0,-13.4px 0;
	}
 
	100% {
	   box-shadow: 26.9px 0,-13.4px 0;
	}
 }
 .z-60{
	z-index: 60 !important;
 }